body {
  padding: 0%;
  margin: 0%;
  font-family: 'Muli', sans-serif;
}


.navbar {
  display: flex;
  justify-content: space-between;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 1%;
  padding-bottom: 0.5%;
  background-color: #2b75e3;
}


.navbar a {

  text-decoration: none;
  color: white;
  padding-bottom: 1%;
}

#logosmall {
width: 7%;

}
#name {
  font-size: 220%;
font-family: 'Playfair Display', serif;
}

nav {
  min-width: 400px;
  display: flex;
  justify-content: space-between;
  padding-top: 2%;

}



.title {
  height: 89%;
  width: 100%;
  margin: 0%;
}

#wallpaper {
  width: 100%;
  height: 105%;
}

#infobox {
  background-color: #2b75e3;
  width: 13%;
  height: 30%;
  position: absolute;
  margin-left: 82%;
  margin-bottom: 1%;
  bottom: 2%;
  padding: 1.5%;
  color: white;
  line-height: 70%;
  text-align: left;
  font-family: 'Muli', sans-serif;

}



.test {
  height: 89%;
  width: 100%;
  padding-top: 4%;
  text-align: center;
  background-color: white;
  font-family: 'Merriweather', serif;
  font-size: 70%;;
}
#instructs {
  font-size: 140%;
}

 .pics {
padding-top: 4%;

}

.pics img {
  padding: 1%;
  height: 25%;
}


.row2 {
padding-right: 13%;

}

.aboutus {
  padding: 7%;
  font-family: 'Muli', sans-serif;
  font-size: 90%;
}

#che {
font-family: 'Merriweather', serif;
}


#examplevid {
margin-top: 2%;
margin-left: auto;
 margin-right: auto;
 display: block
}

#snap {
width: 50%;
padding-bottom: 10%;
margin-right: 7%;
padding-top: 5%;

}

#vidtitle {
font-family: 'Merriweather', serif;
text-align: center;
font-size: 150%;
padding-top: 3%;

}

.coverpage {
  height: 85%;
}

#abstracttitle {
  background-color: black;
  color: white;
  margin-left: 60%;
  font-size: 70px;
  padding: 3%;
  z-index: 1;

}

#bin1 {
  width: 47%;
  position: absolute;
  top: 35%;
  left: 15%;
  z-index: 0;

}

#title1 {
  margin-left: 60%;
  font-size: 50px;
}

#para1 {
  background-color: black;
  color: white;
  margin-left: 40%;
  margin-right: 15%;
  padding: 3%;
}

#para2 {
  margin-left: 15%;
  margin-right: 45%;
  padding: 3%;
}

#plan {
  width:80%;
  margin-left: 10%;
}

#title2 {
  margin-top: 10%;
  margin-left: 40%;
  font-size: 50px;
}

#para3 {
  background-color: black;
  color: white;
  margin-left: 20%;
  margin-right: 45%;
  padding: 3%;
}

#para4 {
  margin-left: 40%;
  margin-right: 20%;
  padding: 3%;
}

#build1 {
  width: 30%;
  margin-left: 15%;
  margin-top: 5%;
}

#build2{
  width: 25%;
  margin-left: 50%;
  margin-top: 5%;
}

#build3 {
  width: 45%;
  margin-left: 15%;
  margin-top: 5%;
  margin-bottom: 10%;
}
